* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: rgb(240, 239, 199);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-family: 'Trirong', serif;
    font-weight: 500;
    font-size: 2em;
    padding: 1.3em 0;
  }
  
  h2 {
    font-size: 1.25em;
  }
  
  header,
  main,
  aside,
  footer {
    padding: 1.5em;
    border: 1px black solid;
  }
  
  header,
  footer {
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(175, 222, 176);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:
      1fr 2fr 1fr;
    grid-template-areas:
      "heady     heady     heady"
      "navvy     navvy     navvy"
      "aside1    mainy     aside2"
      "aside1    mainy     aside2"
      "aside1    mainy     aside2"
      "footy     footy     footy";
  }
  
  header {
    grid-area: heady;
    background: rgb(25, 218, 175);
  }
  
  
  main {
    grid-area: mainy;
    background: rgb(240, 234, 182);
    max-height: 100%;
  }
  
  #aside1 {
    grid-area: aside1;
    background: rgb(241, 202, 174);
  }
  
  #aside2 {
    grid-area: aside2;
    background: rgb(191, 226, 246);
  }
  
  footer {
    grid-area: footy;
    background: rgb(171, 171, 171);
  }
  
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  
  
  
  @media screen and (min-width: 641px) and (max-width: 900px) {
    .container {
      grid-template-columns:
        1fr 1fr;
      grid-template-areas:
        "heady heady"
        "navvy navvy"
        "mainy mainy"
        "aside1 aside2"
        "footy footy";
    }
}
  
    @media screen and (max-width: 640px) {
      .container {
        grid-template-columns:
          1fr;
        grid-template-areas:
          "heady"
          "mainy"
          "aside1"
          "aside2"
          "navvy"
          "footy";
      }
  }
      ul {
        flex-flow: column nowrap;
        text-align: center;
      }
  