header
h1{ color: red;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10vw;
    
}
body{
    background-color: yellowgreen;
}
p{
    color: red;
    border-color: black;
    border-style: solid;
    
}
#header {
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: azure;

}